table{
  background: linear-gradient(to left, #607eb5f5, #afccdf, #d7dfe5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  /* table-layout:fixed; */
  border-collapse:collapse;
  font-weight:bold;
  margin:auto;
  width: 480px;
  margin-top: 40px;
}

table th,td{
    border:1px solid #f2f2f2;
    padding:15px 30px;
    text-align:center;
}
.head{
  color: #607eb5f5;
  font-size: 20px;
  font-weight: bold
}
/*
table th{
    font-weight:bold;
    font-size: 20px;
} */

table td{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}
